DB_USER=postgres
DB_PASSWORD=password
DB_HOST=localhost
GOOGLE_AUTH_CLIENT_ID="googleclientid"
GOOGLE_AUTH_CLIENT_SECRET="googleclientsecret"
GOOGLE_AUTH_REDIRECT_URL="http://localhost:8000/social-auth/google/callback"
